@import 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css';
* {margin: 0px; padding: 0px;}
html, body {background: #f3f4f4;}
body {
    padding: 2rem;
}
.container-fluid {
    min-height: 800px;
    /*background: #fff;
    border: 1px solid #7ab800;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07),0 2px 9px 0 rgba(18,106,211,.06);
    border: none;*/
}
header{
	min-height: 60px;
    background: #ccc;
}
aside {
	position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 100%;
    background: #000;	
}
.boxs{
  width: 100%;
  position: absolute;
}

.box {
    margin-bottom: 2rem;
    background: #fff;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07),0 2px 9px 0 rgba(18,106,211,.06);
}
.box ul.nav {
    display: flex;
    flex-direction: row;
}
.box ul.nav li {
    flex-shrink: 0;
    flex-grow: 1;
    font-size: 1.2rem;
    width: 14.2857%;
}
.box ul.nav li a{
    transition: background, color .1s;
    display: flex;
    border-left:1px solid #e2e8f3;
    border-bottom: .2rem solid #007F7B;
    text-decoration: none;
    color: #7ab800;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.box ul.nav li a.first {border-left: none;}
.box ul.nav li a:hover,
.box ul.nav li a.active{border-bottom: .2rem solid #7ab800;background: #c8e68d;}
.box ul.nav li a:hover span.text-label,
.box ul.nav li a.active span.text-label{background: #7ab800;}
.box ul.kpi-box .text-label{
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #007F7B;
    color: #fff;
    font-size: 1.2rem;
    padding: .25rem;
}
.box ul.kpi-box .txt-val{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        padding: 1rem 0;
}
.box ul.kpi-box .txt-val .icon{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url('../../images/Register Read-blue.png') #fff;
    background-color: #fff; 
    background-size: cover;
    border-radius: 20px;
}
.box ul.kpi-box .txt-val .kpi-1{
    background: url('../../images/Register Read-blue.png') #fff;
    background-size: cover;
}
.box ul.kpi-box .txt-val .kpi-2{
    background: url('../../images/interval 1 blue.png') #fff;
    background-size: cover;
}
.box ul.kpi-box .txt-val .kpi-3{
    background: url('../../images/Meters-blue.png') #fff;
    background-size: cover;
}
.box ul.kpi-box .txt-val .kpi-4{
    background: url('../../images/City2- blue.png') #fff;
    background-size: cover;
}
.box ul.kpi-box .txt-val .kpi-5{
    background: url('../../images/Collectors-blue.png') #fff;
    background-size: cover;
}
.box ul.kpi-box .txt-val .kpi-6{
    background: url('../../images/FM-HW 2-blue.png') #fff;
    background-size: cover;
}
.box ul.kpi-box .txt-val .kpi-7{
    background: url('../../images/Events-blue.png') #fff;
    background-size: cover;
}
.box ul.kpi-box .text-val{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #000;
}


.gradientBox {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 4rem 3rem;
    border-radius: 6px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: relative;
}
.gradientBox.g-box-1{
	background: -webkit-gradient(linear, left bottom, right top, from(#3358cb), to(#23d1f1));
	background: linear-gradient(to top right, #3358cb, #23d1f1);
}
.gradientBox.g-box-2 {
    background: -webkit-gradient(linear, left bottom, right top, from(#8452e7), to(#4d5ed0));
    background: linear-gradient(to top right, #8452e7, #4d5ed0);
}
.gradientBox.g-box-3 {
    background: -webkit-gradient(linear, left bottom, right top, from(#3358cb), to(#1197e6));
    background: linear-gradient(to top right, #3358cb, #1197e6);
}
.gradientBox.g-box-4 {
    background: -webkit-gradient(linear, left bottom, right top, from(#f3466c), to(#fb7636));
    background: linear-gradient(to top right, #f3466c, #fb7636);
}

.widget {
	width: 100%;
	height: 500px;
	background: #fff;
    border: 1px solid #007F7B;
}
.widget .heading-1 {
	font-size: 1.5rem;
    padding: 1rem;
    background: #007F7B;
    color: #fff;
    font-weight: 400;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    word-wrap: break-word;
}
.card {
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07),0 2px 9px 0 rgba(18,106,211,.06);
    border: none;
    margin-bottom: 1.875rem;
    transition: all .3s ease;
}
.card .card-header, .card .card-header .card-title {
    font-weight: 300;
    font-size: 1.5rem;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}